* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: GTBlack;
  src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Black.ttf");
}

body {
  height: 100vh;
}

header {
  background: #78e08f;
  min-height: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 45px;
  font-family: GTBlack;
}

.title-img {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.title-img img {
  width: 35%;
}

.welcome-msg {
  font-size: 1.3rem;
}

@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
