* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: GT-Black;
  src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Black.ttf");
}
@font-face {
  font-family: GT-Regular;
  src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Regular.ttf");
}
@font-face {
  font-family: GT-Bold;
  src: url("./assets/fonts/gt-walsheim-pro/GTWalsheimPro-Bold.ttf");
}

body {
  height: 100vh;
  background-color: #dfe4ea;
}

header {
  background: #78e08f;
  min-height: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 45px;
  font-family: GT-Bold;
}

.title-img {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.title-img img {
  width: 35%;
}

.welcome-msg {
  font-size: 1.3rem;
}

.welcome-date .date-time {
  font-family: "GT-Bold";
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.4rem;
}

@media (min-width: 480px) {
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
  }
  .title-img {
    flex-direction: row;
  }

  .title-img img {
    width: 15%;
  }
}
@media (min-width: 992px) {
}
